@page

@{
    ViewData["Title"] = "Home page";
}

<style>
    h2 { color: #FF0000; }
    body {
        background-color: white;
    }
</style>

<center>
    <h2>Flight Radar API</h2>
    <p>Erfassung und Darstellung von Flugbewegungen.</p>
</center>



