@page

@{
    ViewData["Title"] = "Home page";
}

<style>
    h2 {
        color: #FF0000;
    }

    body {
        background-color: white;
    }
</style>

<center>
    <h2>Flight Radar API</h2>
    <p>Erfassung und Darstellung von Flugbewegungen.</p>
    <img src="images/Marburg.png" alt="Italian Trulli" style="width:300px;height:100px;" >
    <h6>Version 1.3</h6>
    <a href="../DataFiles/Data.csv" download>Download Data File (CSV)</a>
</center>



